#f-of-main-container{
    place-items: center;
    
    
}
#main-container{
    border: 2px solid rgb(144, 136, 136);
    border-radius: 10px;
    height: 300px;
    width: 400px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 100px 3px black;
}
form{
    margin-left: 30px;
}
.small-box-con{
    padding: 10px 100px 10px 7px;
    margin-bottom: 10px;
    color: rgb(118, 108, 108);
    border-color: rgb(156, 143, 143);
    border-radius: 5px;
}